<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>adminservlets.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MsgAll</servlet-name>
        <servlet-class>adminservlets_messages.MsgAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MsgRead</servlet-name>
        <servlet-class>adminservlets_messages.MsgRead</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MsgUnread</servlet-name>
        <servlet-class>adminservlets_messages.MsgUnread</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockedAds</servlet-name>
        <servlet-class>adminservlets.BlockedAds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewAds</servlet-name>
        <servlet-class>adminservlets_ads.ReviewAds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReports</servlet-name>
        <servlet-class>adminservlets_reports.ViewReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataCountsXML</servlet-name>
        <servlet-class>adminservlets_XML.DataCountsXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MsgXML</servlet-name>
        <servlet-class>adminservlets_XML.MsgXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomDataXML</servlet-name>
        <servlet-class>adminservlets_XML.CustomDataXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomDataXMLUser</servlet-name>
        <servlet-class>adminservlets_XML.CustomDataXMLUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomDataXMLAds</servlet-name>
        <servlet-class>adminservlets_XML.CustomDataXMLAds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchResult</servlet-name>
        <servlet-class>adminservlets.SearchResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPassXML</servlet-name>
        <servlet-class>adminservlets_XML.CheckPassXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConversationXML</servlet-name>
        <servlet-class>adminservlets_XML.ConversationXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailedViewXML</servlet-name>
        <servlet-class>adminservlets_XML.DetailedViewXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdReviewAction</servlet-name>
        <servlet-class>adminservlets.AdReviewAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyAds</servlet-name>
        <servlet-class>adminservlets_ads.ModifyAds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemReport</servlet-name>
        <servlet-class>adminservlets.ItemReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminClass_BlockedItems</servlet-name>
        <servlet-class>classes.AdminClass_BlockedItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlacklistedUsers</servlet-name>
        <servlet-class>adminservlets.BlacklistedUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInterfaces</servlet-name>
        <servlet-class>adminservlets_interfaces.UpdateInterfaces</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSliderItems</servlet-name>
        <servlet-class>adminservlets_interfaces.GetSliderItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSliderItems</servlet-name>
        <servlet-class>adminservlets_interfaces.SetSliderItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>adminservlets_login.CheckLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLogout</servlet-name>
        <servlet-class>adminservlets_login.CheckLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUpdate</servlet-name>
        <servlet-class>adminservlets_login.LoginUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginChange</servlet-name>
        <servlet-class>adminservlets_login.LoginChange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdBlocked_ViewReports</servlet-name>
        <servlet-class>adminservlets_reports.AdBlocked_ViewReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserBlocked_ViewReports</servlet-name>
        <servlet-class>adminservlets_reports.UserBlocked_ViewReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Removed_ViewReports</servlet-name>
        <servlet-class>adminservlets_reports.Removed_ViewReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageBlocked_ViewReports</servlet-name>
        <servlet-class>adminservlets_reports.MessageBlocked_ViewReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageUBlocked_ViewReports</servlet-name>
        <servlet-class>adminservlets_reports.MessageUBlocked_ViewReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InquiryBlocked_ViewReports</servlet-name>
        <servlet-class>adminservlets_reports.InquiryBlocked_ViewReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InquiryUBlocked_ViewReports</servlet-name>
        <servlet-class>adminservlets_reports.InquiryUBlocked_ViewReports</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MsgAll</servlet-name>
        <url-pattern>/MsgAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MsgRead</servlet-name>
        <url-pattern>/MsgRead</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MsgUnread</servlet-name>
        <url-pattern>/MsgUnread</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockedAds</servlet-name>
        <url-pattern>/BlockedAds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewAds</servlet-name>
        <url-pattern>/ReviewAds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReports</servlet-name>
        <url-pattern>/ViewReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataCountsXML</servlet-name>
        <url-pattern>/DataCountsXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MsgXML</servlet-name>
        <url-pattern>/MsgXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomDataXML</servlet-name>
        <url-pattern>/CustomDataXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomDataXMLUser</servlet-name>
        <url-pattern>/CustomDataXMLUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomDataXMLAds</servlet-name>
        <url-pattern>/CustomDataXMLAds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchResult</servlet-name>
        <url-pattern>/SearchResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPassXML</servlet-name>
        <url-pattern>/CheckPassXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConversationXML</servlet-name>
        <url-pattern>/ConversationXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailedViewXML</servlet-name>
        <url-pattern>/DetailedViewXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdReviewAction</servlet-name>
        <url-pattern>/AdReviewAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyAds</servlet-name>
        <url-pattern>/ModifyAds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemReport</servlet-name>
        <url-pattern>/ItemReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminClass_BlockedItems</servlet-name>
        <url-pattern>/AdminClass_BlockedItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlacklistedUsers</servlet-name>
        <url-pattern>/BlacklistedUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInterfaces</servlet-name>
        <url-pattern>/UpdateInterfaces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSliderItems</servlet-name>
        <url-pattern>/GetSliderItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSliderItems</servlet-name>
        <url-pattern>/SetSliderItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/CheckLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLogout</servlet-name>
        <url-pattern>/CheckLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUpdate</servlet-name>
        <url-pattern>/LoginUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginChange</servlet-name>
        <url-pattern>/LoginChange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdBlocked_ViewReports</servlet-name>
        <url-pattern>/AdBlocked_ViewReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserBlocked_ViewReports</servlet-name>
        <url-pattern>/UserBlocked_ViewReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Removed_ViewReports</servlet-name>
        <url-pattern>/Removed_ViewReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageBlocked_ViewReports</servlet-name>
        <url-pattern>/MessageBlocked_ViewReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageUBlocked_ViewReports</servlet-name>
        <url-pattern>/MessageUBlocked_ViewReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InquiryBlocked_ViewReports</servlet-name>
        <url-pattern>/InquiryBlocked_ViewReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InquiryUBlocked_ViewReports</servlet-name>
        <url-pattern>/InquiryUBlocked_ViewReports</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>
