<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>adminservlets.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MsgAll</servlet-name>
        <servlet-class>adminservlets.MsgAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MsgRead</servlet-name>
        <servlet-class>adminservlets.MsgRead</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MsgUnread</servlet-name>
        <servlet-class>adminservlets.MsgUnread</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MsgSpam</servlet-name>
        <servlet-class>adminservlets.MsgSpam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockedUsers</servlet-name>
        <servlet-class>adminservlets.BlockedUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockedAds</servlet-name>
        <servlet-class>adminservlets.BlockedAds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewAds</servlet-name>
        <servlet-class>adminservlets.ReviewAds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReports</servlet-name>
        <servlet-class>adminservlets.ViewReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataCounts</servlet-name>
        <servlet-class>adminservlets.DataCounts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MsgAll</servlet-name>
        <url-pattern>/MsgAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MsgRead</servlet-name>
        <url-pattern>/MsgRead</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MsgUnread</servlet-name>
        <url-pattern>/MsgUnread</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MsgSpam</servlet-name>
        <url-pattern>/MsgSpam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockedUsers</servlet-name>
        <url-pattern>/BlockedUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockedAds</servlet-name>
        <url-pattern>/BlockedAds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewAds</servlet-name>
        <url-pattern>/ReviewAds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReports</servlet-name>
        <url-pattern>/ViewReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataCounts</servlet-name>
        <url-pattern>/DataCounts</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>
